body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    min-height: 2000px;
}

* {
    box-sizing: border-box;
}

.container {
    width: 85%;
    margin: auto;
}

/* menu chính */
.nav {
    display: flex;
    justify-content: space-between  ;
    align-items: center;
    background-color: rgb(219, 217, 217);
    height: 100px;
    padding: 0 30px;
    /* position: fixed;
    top: 0; */
}
.menu {
    display: flex;
    justify-content: space-between;
    width: 60%;

}
.menu ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu a {
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #717171;
}
.menu a:hover {
    color: #72aec8;
}
.icon i {
    padding: 0 10px;
}
.icon i:hover {
    cursor: pointer;
}
.menu>ul>li {
    position: relative;
}
.menu ul .sub-menu {
    display: none;
    width: 150px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    box-shadow: 0 0 5px gray;
    margin-top: 5px;
}
.menu>ul>li:hover>.sub-menu {
    display: block;
}
.sub-menu>li:hover {
    background-color:rgb(219, 217, 217) ;
}

.sub-menu li {
    padding: 15px 0;
}

/* banner */
.banner {
    position: relative;
    display: flex;
    justify-content: space-between;
    /* height: 700px; */
    background-color: #EDF1F3;

}
.slogan {
    /* position: absolute; */
   
    width: 50%;
    margin-left: 200px;
    margin-top: 150px;

}
.banner-img{
    width: 50%;
}
.banner-img img {
    width: 100%;
    /* height: 700px; */
}
.slogan h1 {
    font-size: 85px;
    font-weight: 300;
    /* width: 400px; */
    
}
.slogan a {
    padding: 16px 43.2px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.banner i {
    font-size: 90px;
    /* font-weight: 100; */
    position: absolute;
}
.fa-angle-left {
    left: 0;
    top: 40%
}
.fa-angle-right {
    right: 0;
    top: 40%
}
.banner i:hover {
    color: #72aec8;
}

/* service */
.service {
   display: flex;
   justify-content: space-between;
   padding: 100px 0;


}
.dflex {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.col-3 {
    width: calc(25% - 20px);
    padding: 20px;
    /* position: relative; */
    /* border: 1px solid red; */
}

.s-content h3 {
    margin: 0;
} 
.s-content h3 {
    text-transform: uppercase;
    font-size: 21px;
}
.service .col-3 i {
    color: #72aec8;
    font-size: 24px;
}

/* title section */
.space-between {
    justify-content: space-between;
}
.item-center {
    align-items: center;
}
.title-section h2 {
    text-transform: uppercase;
}
.title-section a {
    text-transform: uppercase;   
}
/* product */
.p0 {
    padding: 0;
}
.m0 {
    margin: 0;
}

.img100 {
    width: 100%;
    height: auto;
}
.product-info a {
    padding: 10px 0;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
}
.product-info a:hover {
    color: #72aec8;
}
.product-info p {
    color: #72aec8;
    font-size: 18px;
    margin: 0;
    padding: 10px 0;
}
.btn {
    padding: 12px 30px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    letter-spacing: 1.5px;
    word-spacing: 1.2px;
    text-transform: uppercase;
    text-decoration: none;
    /* margin-top: 15px; */
    /* opacity: 0; */
    /* position: absolute; */
    left: 17%;
    bottom: 100px;
    
}
.p-relative {
    position: relative;
}
/* .col-3:hover>.btn>a {
    /* opacity: 1; */
    /* bottom: 0; */
    /* box-shadow: 0 0 5px red; */
.text-center {
    text-align: center;
}
/* blog */
.col-4 {
    width: 33.33%;
    padding: 20px;
}
.col-4 h5 {
    color: gray;
    text-transform: uppercase;
}

